*.iml
*.flat
.gradle
/local.properties
/.idea/caches
/.idea/*
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
app/build/*
/captures
.externalNativeBuild
.cxx
.src/main/res
*.png
*.mp3
*.jar
